<!DOCTYPE html>

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title(@conn) %></title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/dracula.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer data-domain="mattpruitt.com" src="https://plausible.mattpruitt.com/js/index.js"></script>
  </head>

  <body class="bg-gray-50 h-full">
    <div class="flex flex-col h-full">
      <%= render "navbar.html", conn: @conn %>

      <div class="flex-1">
        <%= @inner_content %>
      </div>

      <%= render "contact.html" %>
    </div>
  </body>
</html>
